html{
  margin: 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body{
  margin: 0;
  background-color: #f0f0f0;
}

header{
  background-color: #000066;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ol{
  margin:  20px;;
  padding: 0;
}

header ol li{
  padding: 10px;
  list-style: none;
  display: inline-block;
}

header ol li a{
  text-decoration: none;
  color: white;
}

.hero{
  background-color: #809BB6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-txt{
  width: 50%;
  margin-left: 10%;
  margin-right: 20px;
  font-size: 3em;
}

.hero-img{
  background-image: url("../img/hero.jpg");
  width: 60%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

strong{
  color: #0055ff;
}

.contenedor{
  width: 80%;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.contenedor-hero{
  width: 100%;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

section{
  border: solid #000066; 1px;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  margin: 20px 10px;
}

.articulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articulo-txt{
  width: 70%;
}

.articulo-txt ul li{
  font-size: 20px;
}

p{
  font-size: 20px;
}

.image{
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.ipn-img{
  background-image: url("../img/ipn-logo-gris.png");
}

.leng-prog-img{
  background-image: url("../img/lenguajes-programacion.jpeg");
}

.data-bases-img{
  background-image: url("../img/bases-de-datos.jpg");
}

.electronica-img{
  background-image: url("../img/electronica.jpg");
}

.bbva-img{
  background-image: url("../img/bbva.jpg");
}

footer{
  background-color: #000066;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.redes-sociales{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.twetter,
.facebook,
.github,
.instagram{
  width: 35px;
  height: 35px;
  margin: 5px;
}

i{
  font-size: 35px;
  color: white;
}
