<div class="container">
    <div class="row text-justify">
        <div class="col-sm-12 col-md-6">
            <mat-card class="example-card">
                <mat-card-title>Quality And Knowledge</mat-card-title>
                <mat-card-subtitle>Qualitas / NovoPayment</mat-card-subtitle>
                <mat-card-content>
                  <ul>
                      <li>Análisis, diseño y desarrollo de aplicaciones Web empleando lenguaje de programación Java versión 8 y 11</li>
                      <li>Desarrollo de APIs REST empleando el Framework de Spring Boot, aplicaciones basadas en Maven</li>
                      <li>Diseño y desarrollo de interfaces web con JSF (JavaServer Faces) y componentes de PrimeFaces</li>
                      <li>Diseño y desarrollo de componentes web con el Framework de Angular versión 8 o superior</li>
                      <li>Manejo de bases de datos de Oracle, MySQL y SQL Server</li>
                      <li>Manejo de servidores de aplicación Oracle Web Logic 12c para el despliegue de aplicaciones web y servicios REST</li>
                      <li>Trabajo en equipo empleando metodologías agiles de desarrollo de software (SCRUM)</li>
                      <li>Pruebas unitarias e integrales de componentes Host</li>
                      <li>Atención y seguimiento de incidencias</li>
                  </ul>
                </mat-card-content>
                <mat-card-subtitle class="text-end">
                  Desde Septiembre 2019 a Actual.
                </mat-card-subtitle>
              </mat-card>
        </div>

        <div class="col-sm-12 col-md-6">
            <mat-card class="example-card">
                <mat-card-title>Softtek</mat-card-title>
                <mat-card-subtitle>BBVA Bancomer</mat-card-subtitle>
                <mat-card-content>
                  <ul>
                      <li>Lenguaje de programación COBOL</li>
                      <li>Programación estructurada</li>
                      <li>Bases de datos relacionales DB2</li>
                      <li>Desarrollo de procesos BATCH para la generación de reportes</li>
                      <li>Análisis y modificación de programas línea Mainframe</li>
                      <li>Trabajo en equipo empleando metodologías agiles de desarrollo de software (SCRUM)</li>
                      <li>Pruebas unitarias e integrales de componentes Host</li>
                      <li>Atención y seguimiento de incidencias</li>
                  </ul>
                </mat-card-content>
                <mat-card-subtitle class="text-end">
                  Desde Enero 2017 a Marzo 2019
                </mat-card-subtitle>
              </mat-card>
        </div>
    </div>
    <hr/>
</div>

