<div class="container">
    <div class="m-4 text-justify">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">
                    Cristopher Hernández Lagunas
                </h2>
                <div class="d-flex align-items-center mb-2">
                    <span class="material-icons">
                        engineering
                    </span> &nbsp;
                    <h3 class="featurette-heading fw-normal lh-1 m-0">
                        Ingeniero en Comunicaciones y Electrónica
                    </h3>  
                </div>
                <div class="d-flex align-items-center mb-2">
                    <span class="material-icons">
                        school
                    </span>&nbsp;
                    <h3 class="featurette-heading fw-normal lh-1 m-0">
                        Escuela Superior de Ingeniería Mecánica y Eléctrica Unidad Zacatenco (ESIME)
                    </h3>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <span class="material-icons">
                        mail
                    </span>&nbsp;
                    <h3 class="featurette-heading fw-normal lh-1 m-0">chl.cristopherhdz@gmail.com</h3>
                </div>
                <p>
                    Soy una persona responsable, comprometida y me gusta trabajar en equipo, espero incrementar mis conocimientos en distintas tecnologías, así como ganar 
                    la confianza de mis compañeros de trabajo en la empresa donde me desarrolle, soy dedicado con lo que hago y me esfuerzo en dar los mejores resultados 
                    día con día de manera personal y profesional.
                </p>
                <p>
                    Experiencia de 3 años en desarrollo Backend de APIS REST y aplicaciones web con lenguaje de programación Java, 
                    paradigma de programación Orientada a Objetos, patrón de diseño MVC, API JDBC para conexiones a bases de datos, 
                    Manejo de dependencias con maven, Spring Boot Framework, persistencia de datos con JPA e Hibernate, creación de vistas web con JSP y JSTL.
                </p>
                <p>
                    Desarrollo Frontend de componentes web con JavaScript, TypeScript, HTML5, CSS3 y BOOTSTRAP en el desarrollo de SPA con el Framework de Angular 
                    versión 8, o superior manejo de dependencias con npm.
                </p>
                <p>
                    Experiencia de 2 años como Ingeniero de software (Desarrollador Backend) en el análisis, diseño y desarrollo de aplicaciones 
                    Mainframe con lenguaje de programación COBOL y un sistema de consultas en DB2 para Arquitectura de canales Backend empleando un entorno de procesamiento en 
                    línea (CICS) para la ejecución concurrente de programas pseudoconversacionales en el sector financiero (BBVA Bancomer).
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
                width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" 
                preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" 
                fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
    </div>
    <hr/>
</div>


