<div class="container">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected>Programación Estructurada</mat-chip>
        <mat-chip color="primary" selected>Programación Orientada a Objetos</mat-chip>
        <mat-chip color="primary" selected>SCRUM / Agile</mat-chip>
        <mat-chip color="primary" selected>COBOL</mat-chip>
        <mat-chip color="primary" selected>C / C++</mat-chip>
        <mat-chip color="primary" selected>JAVA</mat-chip>
        <mat-chip color="primary" selected>Spring Boot</mat-chip>
        <mat-chip color="primary" selected>Servicios REST</mat-chip>
        <mat-chip color="primary" selected>Microservicios</mat-chip>
        <mat-chip color="primary" selected>APIS</mat-chip>

        <mat-chip color="primary" selected>Desarrollo Web</mat-chip>
        <mat-chip color="primary" selected>Responsive Desing</mat-chip>
        <mat-chip color="primary" selected>HTML5</mat-chip>
        <mat-chip color="primary" selected>CSS3</mat-chip>
        <mat-chip color="primary" selected>JavaScript</mat-chip>
        <mat-chip color="primary" selected>Angular</mat-chip>
        <mat-chip color="primary" selected>TypeScript</mat-chip>
        
        <mat-chip color="primary" selected>Git / GutHub</mat-chip>
        <mat-chip color="primary" selected>Bases de Datos</mat-chip>
        <mat-chip color="primary" selected>DB2 / MySQL / SQL</mat-chip>
        <mat-chip color="primary" selected>SQL Server</mat-chip>
    </mat-chip-list>
    <hr/>
</div>