
<div class="container text-justify">
    <div class="m-4">
        <div class="row">
            <mat-card class="example-card col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Electrocode</mat-card-title>
                  <mat-card-subtitle>App Educativa</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Aplicación móvil para dispositivos Android desarrollada en Flutter, esta app cuenta con herramientas secciones de 
                    aprendizaje para todas aquellas personas entusiastas de la electrónica, está app sigue en contante desarrollo y mejora.
                    Actualmente se encuentra en la versión 1.0.0 a junio del 2022.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button [routerLink] = "['/terms-and-conditions/electrocode']">Términos y condiciones</button>
                  <button mat-button>Ver en Google Play</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>